.dashboard-header {
    margin: 0 auto;
    height: 46em;
    padding: 3rem 4rem 0 0;
    color: #535142;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/dasboard-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dashboard-header-heading {
    max-width: 50rem;
    font-size: 3.8rem;
    text-align: center;
    text-shadow: 0 0 0.2em #dcd5d5, 0 0 1.2em #605d5d;
}

.dashboard-content-container {
    display: flex;
    flex-direction: row;
    min-height: 75rem;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 120rem;
    background: #ffffff;
    color: #535142;
    margin-bottom: 5rem;
}

/*Showing items shown on current page info*/
.filter-number-block {
    font-size: 1.2em;
    display: flex;
    gap: 0.2em;
    justify-content: flex-end;
    padding: 0 2em;
    color: #928f8f;
}

.filter-number-block .inline-block {
    display: inline-block;
}

.results-count,
.items-count {
    color: #425346;
    margin: 0 0.3em;
    font-weight: 600;
}

.dashboard-main-container {
    flex: 1 1 80%;
    margin-top: 2rem;
}

.dashboard-main {
    display: grid;
    flex: 1 1 85em;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 3em;
    padding: 3rem 4rem;
    min-height: 95%;
}

/* PAGINATOR */
.paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    margin-top: 1rem;
}

.page-info {
    margin-right: 1rem;
}

.page-numbers {
    display: flex;
    gap: 0.5rem;
}

.page-number {
    display: inline-block;
    padding: 0.6rem 1rem;
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.page-number.active {
    background-color: #1db854;
    color: #fff;
}

.paginatot-next-button {
    margin-left: 1rem;
    padding: 0.6rem 1rem;
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.page-number:hover,
.paginatot-next-button:hover {
    background-color: #f0f0f0;
    color: #000;
}