@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 14px/1.5 "Inter", sans-serif;
    /* height: 100%; */
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #faf2f2;
}

body::-webkit-scrollbar-thumb {
    background: #4c664d;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #10431e;
}

body,
button,
textarea,
input,
select {
    font: inherit;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

ul,
ol {
    list-style-type: none;
}

form {
    color: #0D5120;
}

main {
    padding-top: 8.5rem;
}

input {
    padding: 0.6em;
    border: 1px solid #303310;
    border-radius: 5px;
}

input[name="password"],
input[name="repassword"] {
    padding-right: 40px !important;
}

textarea {
    padding: 0.8em;
    resize: none;
}

select {
    padding: 0.8em;
    border: 1px solid #303310;
    border-radius: 5px;
}

input:focus,
textarea:focus,
select:focus {
    outline: 0.15em solid #52d3dc47;
}

input.invalid,
textarea.invalid,
select.invalid {
    outline: 0.05em solid #D7382B;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.form-heading {
    text-align: center;
    font-weight: normal;
}

.form-button {
    margin: 3em 0 1.5em;
    padding: 0.7em;
    color: #FFFFFF;
    border-radius: 6px;
    transition: background-color .2s,
        box-shadow .15s;
    box-shadow: 0 0 0.2em #96989b;
    cursor: pointer;

    &:hover {
        box-shadow: 0.1em 0.1em 0.2em #96989b;
    }
}

.form-button-disabled {
    background: #7a7e7b !important;
    border: 1px solid #b6bcb7 !important;
    transition: none;
    cursor: not-allowed;

    &:hover {
        box-shadow: 0 0 0.2em #96989b !important;
    }
}

.field,
.field input,
select,
textarea {
    font-family: "Alice", sans-serif;
}

.field {
    display: flex;
    flex-direction: column;
    position: relative;
}

.field label {
    font-size: 1.1em;
    margin-bottom: 0.2em;
    position: relative;
}

label.required::after {
    content: "*";
    margin-left: 2px;
    color: #c40707;
    position: absolute;
}

span.helper-info {
    margin-top: 0.3em;
    font-size: 0.8em;
    line-height: 1.2;
    font-style: italic;
}

span.invalid-input-error {
    margin-top: 0.35em;
    margin-left: 0.3em;
    font-size: 0.8em;
    line-height: 1.2;
    color: #D7382B;
}

.eye-input-icon {
    position: absolute;
    top: 2.85rem;
    right: 1rem;
    cursor: pointer;
}

/* Header */
header {
    background: #535142;
    width: 100%;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    border-bottom: 2px solid #444449;
}

header nav {
    max-width: 80em;
    padding: 1.8em 2em 1.5em;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

}

nav .main-nav-list,
.auth-nav-list,
.user-nav-list {
    display: flex;
}

nav .main-nav-list {
    gap: 2.5em;
}

nav .auth-nav-list {
    gap: 3em;
}

nav .user-nav-list {
    gap: 2rem;
    position: relative;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
}

.nav-link.register {
    border: 1px solid #F9F1F1;
    padding: 0.7em 1.5em;
    border-radius: 1.5em;
}


*>.logo {
    position: relative;
}

.logo {
    font-size: 1.4em;
    font-weight: bold;
    font-family: "Alice", sans-serif;
    margin-top: -0.6rem;
    display: inline-block;
}

.logo::before {
    content: '';
    background-image: url("/doggo-logo-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 3rem;
    aspect-ratio: 1/1;
    margin-top: -0.4rem;
    padding: 1em;
    border-radius: 50%;
    top: 0;
    left: -4rem;
}

.likes-link {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    transform: translate(-25%, -20%);
    margin-right: -2rem;
    color: #bd3512;
}

/* Profile Menu */

.profile-menu {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -6rem;
}

.profile-link {
    display: inline-block;
    font-size: 2.5rem;
    transform: translate(-25%, -25%);
    color: #f8f7f5;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 3rem;
    left: -1.5rem;
    background-color: #fff;
    box-shadow: 0 8px 16px #00000033;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    width: 10rem;
}

.dropdown-menu a {
    color: #333;
    padding: 12px 16px;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.profile-menu:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

.active-nav-link {
    position: relative;
}

.active-nav-link::after {
    content: '';
    margin-top: 1.5rem;
    width: 100%;
    border: 1px solid #ffa30e;
    position: absolute;
    top: 0;
    left: 0;
}

/* Home */
.home-section-banner {
    background: linear-gradient(0deg, #ffffff 0%, #e2ffcc 100%);
    /* background-color: #ffffff; */
    width: 100%;
    height: 46em;
    display: flex;

}

.home-section-banner .inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    background-image: url("/woman-dog-sitting-grass-min.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 2em 1em #9a999952;
    border: 2px solid #444449;
    border-bottom-right-radius: 60%;

}

.home-section-banner .content {
    color: #f8f2ee;
    margin-top: 18em;
}

.home-section-banner .heading {
    font-size: 4.2em;
    margin-left: -4em;
    text-shadow: 0 0 0.5em #605d5d, 0 0 0.2em #605d5d, 0 0 10em #605d5d, 0 0 0.3em #605d5d, 0 0 0.2em #e2ffcc;
    /* padding: 0 8em; */
}

.home-section-banner .banner-subheading {
    font-size: 1.6em;
    margin-top: 0.1em;
    text-shadow: 0 0 0.2em #3e3c3c, 0 0 0.5em #605d5d, 0 0 1em #efeaea, 0 0 0.5em #605d5d, 0 0 0.2em #e2ffcc;
    color: #ffa30e;
}

/* Home section adopt */
.home-section-adopt {
    background: #f8fbf6;
    font-family: "Aleo", sans-serif;
    width: 100%;
    /* height: 62em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8em 3em;
}

.home-section-adopt .tips-container {
    font-size: 1.1em;
    display: flex;
    gap: 5rem;
    padding: 0 5rem;
    margin-top: 4rem;
}

.home-section-adopt .tip {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid #0000ff;
    max-width: 20em;
    padding: 3em 2em 2em;
    border-radius: 10px;
    border: 1px solid #ccc;
    gap: 2em;
}

.section-adopt-heading {
    font-size: 2.8em;
    text-align: center;
}

.adoption-subheading {
    margin-top: 0.5rem;
    font-size: 1.4em;
    color: #ffa30e;
}

.home-section-adopt .steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #FF8437;
    border-radius: 26px;
    width: 60em;
    border: 1px solid #949CAD;
    padding: 5em 3em 2em;
    margin-top: 5em;
    box-shadow: 0 0 10px 1px #00000066;
    text-shadow: 0 0 5px #00000066;
}

.steps .steps-heading {
    font-size: 1.8em;
    font-weight: normal;
    width: 20em;
    text-align: center;
}

.steps .progressbar li {
    color: #ffffff;
    font-size: 1.2em;
}

.steps .progressbar li::before {
    width: 4rem;
}

.steps .progressbar li:not(:last-child):after {
    width: 20rem;
    height: 0.3rem;
}

/* Home section previous adoptions */
.home-section-previous-adoptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 8em 3em 2em;
    font-family: "Aleo", sans-serif;
}

.previous-adoptions-heading {
    max-width: 20em;
}

.adopted-pets-container {
    display: flex;
    max-width: 95em;
    padding: 7em 5em;
    gap: 2.5em;
}

.adopted-pet {
    display: flex;
    justify-content: center;
    flex-basis: 33.33%;
    height: 36em;
    align-items: center;
}

.pet-wrapper {
    display: flex;
    flex-basis: 100%;
    height: 100%;
    flex-direction: column;
    background: #faf1ea;
    outline: 1px solid #c4c6c8;
    transition: flex-basis .3s ease-out, height .3s ease-out;
}

.pet-wrapper:hover {
    flex-basis: 90%;
    height: 90%;
}

.pet-image {
    flex: 1 0 65%;
}

.adopted-pet .pet-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pet-info {
    flex: 1 1 35%;
    padding: 1.5em 2em 2em;
    position: relative;
}

.pet-info>*+* {
    margin-top: 1em;
}

.pet-name {
    font-size: 1.4em;
}

.pet-history::after {
    content: '';
    position: absolute;
    width: 10em;
    height: 0;
    border: 1px solid #635e5e;
    bottom: -1.1em;
    left: 0;
}

/* PROGRESSBAR */

.progressbar-container {
    margin-top: 2em;
    width: 45em;
    margin: 0 auto;
}

.progressbar {
    display: flex;
    justify-content: space-around;
    counter-reset: step;
    padding: 2em;
    width: 100%;
}

.progressbar li {
    list-style-type: none;
    color: #0D5120;
    /* text-transform: uppercase; */
    position: relative;
    font-family: "Aleo", sans-serif;
}

.progressbar li::before {
    content: counter(step);
    counter-increment: step;
    width: 3rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1em;
    color: #333;
    background: #fcf9f5;
    border-radius: 100%;
    margin: 0 auto 5px auto;
    box-shadow: 0 0 10px 1px #00000066;
    z-index: 2;
    transition: background-color .4s linear,
    color .4s linear;
}

.progressbar li:not(:first-child):after {
    content: "";
    display: block;
    width: 15em;
    top: 1.4em;
    height: 0.4em;
    background: #fcf9f5;
    position: absolute;
    right: 3em;
    box-shadow: 0 0 5px 1px #00000066;
    z-index: 1;
    transition: background-color .3s linear,
    color .3s linear;
}

.progressbar li.active:before,
.progressbar li.active:after {
    background: #d66937;
    color: #ffffff;
}

/* Register */
.register-main-container,
.login-main-container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(226, 255, 204, 1) 100%);
}

.register-form-container {
    max-width: 31.5em;
    margin: 0 auto;
    display: flex;
    box-shadow: 0 0 1em #96989b;
    border-radius: 10px;
    position: relative;
}

.register-form {
    padding: 2em 3em 1em;
    background: #FFFFFF;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #E2E2E2;
}

.register-form-heading {
    margin-bottom: 1.3rem;
    font-family: "Aleo", sans-serif;
    font-size: 2.2em;
}

.register-form .field+.field {
    margin-top: 1.9rem;
}

.register-form input {
    border: 1px solid #303310;
    padding: 0.65em;
}

.register-form input:focus {
    outline: 0.15em solid #667492;
}

.register-additional-info {
    font-size: 0.85em;
    text-align: left;
    color: #000000;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.register-additional-info .span-link{
    cursor: pointer;
    color: #78127F;
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 0.2em;
    transition: color .2s;
}

.register-additional-info .span-link:hover {
    color: #28072b;
}

.register-image-container {
    position: absolute;
    background-image: url("/register-pets.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 12em;
    height: 5em;
    bottom: 0;
    right: 0;
    margin-right: 2em;
    margin-top: 1.5em;
}

#sign-up-button {
    border: 1px solid #63a568;
    background: #45d06a;
    padding: 0.85em;
}

#sign-up-button:hover {
    background: #32ac52;
}

.register-form input:focus,
.login-form input:focus {
    outline: 0.15em solid #667492;
}

.login-main-container,
.register-main-container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(226, 255, 204, 1) 100%);
}

.login-main {
    padding-bottom: 2.2em;
}

.login-form-container {
    max-width: 56em;
    margin: 0 auto;
    display: flex;
    box-shadow: 0 0 1em #96989b;
    border-radius: 10px;
}

.login-form {
    padding: 2em 3em;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    flex: 0 1 45%;
    border-radius: 10px 0 0 10px;
    border: 1px solid #E2E2E2;
}

.login-form-heading {
    margin-bottom: 1.2em;
    font-family: "Alice", sans-serif;
    font-size: 2.1em;
}

.login-form .field+.field {
    margin-top: 2.5em;
}

#sign-in-button {
    background: #364688;
    padding: 0.7em;
}

#sign-in-button:hover {
    background: #282F4C;
}

.login-additional-info {
    font-size: 0.8em;
    text-align: center;
    color: #000000;
    margin-bottom: 1.5em;
}

.login-additional-info .span-link{
    color: #1EC044;
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 0.2em;
    transition: color 0.2s;
}

.login-additional-info .span-link:hover {
    color: #236d34;
}

.login-image-container {
    flex: 1 1 auto;
    border-radius: 0 10px 10px 0;
    background-image: url("/login-doggo-cropped.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* CREATE */
.create-main-container {
    background: linear-gradient(0deg, #ffffff 0%, #FFE4D1 100%);
}

.create-main {
    padding: 5rem;
}

.create-form-container {
    max-width: 50em;
    margin: 3rem auto;
    color: #0D5120;
}

.create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0em 1em;
}

.create-form fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 0 2em 1em;
    margin: 0 3em;
    border: 0 none;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px #00000066;
    position: relative;
}

.create-form fieldset.type-2 {
    max-width: 85%;
}

.create-form-heading {
    font-size: 2.2em;
    font-weight: 500;
    margin-top: 1rem 0 2rem;
}

.create-form-heading,
.fieldset-heading {
    font-family: "Aleo", sans-serif;
}

.create-form .fieldset-heading {
    color: #636965;
    font-weight: normal;
    font-size: 1.4em;
    text-align: center;
    margin: 1.5em 0 1.2em;
}

.create-form .fields-wrapper {
    display: flex;
    gap: 2.5em;
}

.fields-wrapper-1,
.fields-wrapper-2 {
    flex-basis: 50%;
}

.create-form .field+.field {
    margin-top: 2.5rem;
}

.create-form input,
textarea,
select {
    /* background: #F4F3F1; */
    background: #EDF2F5;
    border: none;
    opacity: 0.8;
    box-shadow: 0 0 0.1em #96989b;
}

.create-form input[type="radio"] {
    box-shadow: none;
}

.create-form input[type="number"] {
    font-size: 1.2em;
}

.create-form label {
    font-size: 1.2em;
}

.textarea-disabled {
    background: #dde0e1;
}

.create-form .health-info {
    display: flex;
    flex-direction: column;
    margin: 1.5em 0 1em;
}

.health-info .health-heading {
    text-align: center;
    margin: 0.8em 0 1.2em;
}

.health-info input[type="radio"] {
    margin-left: 1em;
}

.health-info textarea {
    margin-top: 1.5em;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 3em;
    font-size: 0.9em;
    margin-top: 1rem;
}

.next-button,
.previous-button,
.submit-button {
    margin-top: 2.5em;
    padding: 0.8em 2.5em;
    background: #27AE60;
    border: #364688;
    align-self: center;

    &:hover {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
    }
}